@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Comfortaa', sans-serif;
    list-style:none;
}

header{
    max-width:1020;
    width:100%;
    margin:0;
    height:15vh;
    display:flex;/*ficam em linha*/
    justify-content:space-between;
    text-align:center;
    background-color: #128596;
}

.menu{
    display:none;
}

header div{
    margin-right:3vw;
    display:flex;
    width:70%;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    width:7vw;
    margin-left:2vw;
}

header nav{
    display:flex;
    justify-content: space-evenly;
    width:50%;
}

header ul{
    display:flex;
    justify-content: space-evenly;
    font-size: 1.2vw;
    color:white;
    width:100%;
}

header input{
    border-radius:10px;
    border:none;
    height:3.9vh;
}

input::placeholder{/*pseudoseletor do input para sumir quando digitarmos*/
    text-align: center;
    background-image: url('./assets/lupa.png');
    background-size:contain;
    text-align:center;
    background-repeat: no-repeat;
}
@media(max-width:600px){
    header input{
        display:initial;
    }

    header nav{
        display:none;
    }
}

main{
    background-color: #E2EFF4;
}

.img-bob{
    width:100%;
    height:82vh;
    background-color: rgb(252, 229, 172);
    display:flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.bob{
    width:50vw;
    height:80vh;
}

.boxText{
    position:relative;
    line-height:1.9;
    left:15vw;
    bottom:13vh;
}

.boxText h1{
    color:#128596;
    font-size:50px;
}

.boxText ul{
    color:#DB7948;
    font-size:25px;
}

.boxText li:hover{
    background-color: #FEBD81;
    cursor:pointer;
}

@meida(max-width:480px){
    .menu{
        display:initial;
    }

    header div{
        display:none;
    }
}